body{
    font-family: "Roboto", sans-serif;
    margin: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header,
.hero,
.footer{
    background-color: #1f2937;
}

/*header*/
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 128px;
}

.logo-text,
.main-text-sign-up{
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;
}

.header ul{
    list-style-type: none;
    display: flex;
    gap: 24px;
    margin: 0px;
    padding: 0px;
}

.header a{
    text-decoration: none;
}

.secondary-text,
.header a,
.secundary-text-sign-up{
    font-size: 18px;
    color: #e5e7eb;
}

/*hero*/
.hero{
    display: flex;
    padding: 64px 128px;
    justify-content: space-between;
    gap:32px;
}

.hero-left-side{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1;
    gap: 12px;
}

.hero img{
    flex: 1;
    width: 300px;
}

.main-text{
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.hero-button{
    background-color: #3882f6;
    color: #f9faf8;
    border-radius: 12px;
    border: 0px;
    width: 100px;
    padding: 8px;
}

/*info section*/
.info-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px 32px 64px 32px;
    gap: 32px;
}

.info-header{
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
}

.card-container{
    display: flex;
    justify-content: center;
    gap: 32px;
}

.card{
    width: 200px;
    text-align: center;
}

.card div{
    margin-top: 8px;
    color: #1f2937;
}

.card img{
    width: 200px;
    border: 3px;
    border-color: #3882f6;
    border-style: solid;
    padding: 0px;
}

/*quote*/
.quote-section{
    background-color: #e5e7eb;
    padding: 100px 220px;
}

.quote-text{
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: #1f2937;
}

.quote-author{
    font-weight: bold;
    text-align: right;
    padding: 16px 32px;
}

/*sign up section*/
.sign-up-section{
    margin: 64px 128px;
    padding: 32px 64px;
    background-color: #3882f6;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
}

.sign-up-button{
    border: 3px;
    border-color: #f9faf8;
    border-style: solid;
    background-color: #3882f6;
    color: #f9faf8;
    border-radius: 12px;
    width: 100px;
    padding: 8px 10px;
}

/*footer*/
.footer{
    padding: 32px;
    text-align: center;
    color: #f9faf8;
    font-size: 18px;
}